html {
	background: #111 url("461223196.jpg") repeat fixed center;
}

h1 {
	color: red;
	font-family: "Verdana", sans-serif;
}

body {
	font-family: "Book Antiqua", serif;
}

.container {
	padding: 20px;
	background: white;
	opacity: 0.8;
	border-radius: 10px 0px 0px 10px;
}