html {
	background: #111 url("461223196.jpg") repeat fixed center;
}

h1 {
	color: black;
	font-family: "Verdana", sans-serif;
}

body {
	font-family: "Book Antiqua", serif;
}

.container {
	padding: 20px;
	background: white;
	opacity: 0.8;
	border: 0px solid;
	border-radius: 10px;
	width: 65%;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px;
}