html {
	background: #111 url("461223196.jpg") repeat fixed center;
}

h1,h2,h3,h4,h5,h6 {
	color: black;
	font-family: "Verdana", sans-serif;
	margin-top: 12px;
	margin-bottom: 5px;
}

body {
	font-family: "Book Antiqua", serif;
}


ul {
margin-top: 10px;
}

.container {
	padding: 20px;
	background: white;
	opacity: 0.8;
	border: 0px solid;
	border-radius: 10px;
	width: 65%;
	margin:auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

#ContentManager {
	border-top: 1px solid lightgrey;
}

p {
	float: left;
}

img {
	padding: 10px;
	border: solid 1px black;
}